# 휴먼지능정보공학과 201810808 정민지

In [2]:
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkContext('local')
spark = SparkSession(sc)

In [23]:
marks=[
    "'김하나','English', 100",
    "'김하나','Math', 80",
    "'임하나','English', 70",
    "'임하나','Math', 100",
    "'김갑돌','English', 82.3",
    "'김갑돌','Math', 98.5"
]
_marksRdd=spark.sparkContext.parallelize(marks)

## 문제 3-1: 이름으로 합계를 구해보자

### 답

In [77]:
sum_Name=_marksRdd\
        .map(lambda x: x.split(','))\
        .map(lambda x: (x[0],float(x[2])))\
        .reduceByKey(lambda x,y:x+y)\
        .collect()

for e in sum_Name:
    print (e[0], e[1])

'김하나' 180.0
'임하나' 170.0
'김갑돌' 180.8

## 문제 3-2: 과목으로 합계를 계산해 보자.

### 답

In [78]:
sum_Subject=_marksRdd\
        .map(lambda x: x.split(','))\
        .map(lambda x: (x[1],float(x[2])))\
        .reduceByKey(lambda x,y:x+y)\
        .collect()

for e in sum_Subject:
    print (e[0], e[1])

'English' 252.3
'Math' 278.5

## 문제 3-3: 이름으로 합계과 개수를 구해보자.

In [103]:
sum_Subject2=_marksRdd\
        .map(lambda x: x.split(','))\
        .map(lambda x: (x[0],float(x[2])))

In [115]:
sumNcount_Name=sum_Subject2.combineByKey(
        lambda value: (value,1),
        lambda x,value: (x[0]+value, x[1]+1),                      
        lambda x,y: (x[0]+y[0], x[1]+y[1]))

### 답

In [116]:
for e in sumNcount_Name.collect(): #.collect를하면 list형태가됨
    print(e[0],e[1])

'김하나' (180.0, 2)
'임하나' (170.0, 2)
'김갑돌' (180.8, 2)

## 문제 3-4: 이름으로 평균을 계산해 보자.

In [124]:
avg_Name = sumNcount_Name.map(lambda x: (x[0],x[1][0]/x[1][1]))

### 답

In [126]:
for e in avg_Name.collect():
    print(e[0],e[1])

'김하나' 90.0
'임하나' 85.0
'김갑돌' 90.4